<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/follower.js"></script>

<head>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Follower</title>
</head>
<body>

<div class="table-responsive" ng-app="ArtistProjectApp" ng-controller="FollowerController" ng-init="pageOpen()">

    <div class="form-group">
        <label>Follower</label>
        <select ng-options="x.name for x in followerList track by x.id" ng-model="album.follower"></select>
    </div>

    <h2>Follower Table</h2>
    <form>
        <table class="table">
            <thead>
            <tr>
                <th>Album name</th>
                <th>Album href</th>
                <th>Album type</th>
                <th>Artist</th>
                <th>Follow</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="album in albumList">
                <td>{{album.name}}</td>
                <td>{{album.href}}</td>
                <td>{{album.albumType}}</td>
                <td>{{album.artist.name}}</td>
                <td>
                    <button type="button" class="btn btn-primary"
                            ng-click="selectAlbum(album)">
                        Update
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>



</body>
</html>